{{>partials/header}}
    <h2>LOGIN</h2>

    
<form method="post" action="login-usuario">
    <input type="string" name="email" placeholder="Digite seu email" required/><br/>
    <input type="string" name="senha" placeholder="Digite sua senha" required/><br/>
    <input type="submit" value="Enviar">
</form>


{{>partials/footer}}