{{>partials/header}}


    <h1>Página de Login</h1>
    

    <form action="">
        Nome: <input type="text" name="nome"><br>
        Email: <input type="email" name="email"><br>
        Senha: <input type="password" name="senha"><br>
        <input type="button" value="Enviar">
    </form>

    {{#showWelcome}}

        Opa, {{name}} {{lastName}}

    {{/showWelcome}}

{{>partials/footer}}